@import "src/assets/styles/variables.scss";
@import "src/assets/styles/mixins.scss";

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-xlarge $spacing-xxxlarge;

    @include media("tablet-portrait-max") {
      padding: $spacing-xlarge $spacing-medium;
    }

    @include media("mobile-landscape-max") {
      padding: $spacing-medium;
    }
  }

  &__logo {
    position: relative;
    top: 5px;

    img {
      max-width: 100%;
    }

    @include media("tablet-portrait-max") {
      max-width: 120px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
