@import url("./reboot.css");
@import url("beautiful-react-diagrams/styles.css");

.rz {
  &__container {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
  }

  &__main {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: fixed;
  }

  &__header {
    position: relative;
    padding: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 52;
    background-color: rgb(255, 255, 255);
  }

  &__design-menu {
    width: 250px;
    height: 100%;
    padding: 16px;
    z-index: 9;
    transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    will-change: transform;
    transform: translateX(0px) !important;
    border-top: 2px solid rgb(223, 227, 237);

    &--holder {
      position: relative;
      overflow: hidden;
      height: 100%;
      display: flex;
      width: 100%;
      flex-direction: column;
      background-color: rgb(249, 249, 249);
      transition: background-color 0.15s ease 0s, box-shadow 0.15s ease 0s;
    }

    &--scroll {
      position: absolute;
      inset: 0px;
      overflow: scroll;
      margin-right: 0px;
      margin-bottom: 0px;
    }

    &--item {
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #455aa2;
      color: white;
      cursor: move;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--content {
      display: flex;
      align-items: center;
    }

    &--icon {
      display: flex;
      align-items: center;
      color: #ccc;
    }
  }

  &__canvas {
    position: relative;
    width: calc(100% - 250px);
    height: 100%;
    overflow: hidden;

    &--preview {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      user-select: none;

      .bi.bi-diagram {
        border: none;
        border-radius: 0;
        // background-color: transparent;
        background-color: #455aa2;
        background-image: linear-gradient(
            0deg,
            transparent 9%,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.1) 12%,
            transparent 13%,
            transparent 29%,
            rgba(255, 255, 255, 0.05) 30%,
            rgba(255, 255, 255, 0.05) 31%,
            transparent 32%,
            transparent 49%,
            rgba(255, 255, 255, 0.05) 50%,
            rgba(255, 255, 255, 0.05) 51%,
            transparent 52%,
            transparent 69%,
            rgba(255, 255, 255, 0.05) 70%,
            rgba(255, 255, 255, 0.05) 71%,
            transparent 72%,
            transparent 89%,
            rgba(255, 255, 255, 0.05) 90%,
            rgba(255, 255, 255, 0.05) 91%,
            transparent 92%,
            transparent
          ),
          linear-gradient(
            90deg,
            transparent 9%,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.1) 12%,
            transparent 13%,
            transparent 29%,
            rgba(255, 255, 255, 0.05) 30%,
            rgba(255, 255, 255, 0.05) 31%,
            transparent 32%,
            transparent 49%,
            rgba(255, 255, 255, 0.05) 50%,
            rgba(255, 255, 255, 0.05) 51%,
            transparent 52%,
            transparent 69%,
            rgba(255, 255, 255, 0.05) 70%,
            rgba(255, 255, 255, 0.05) 71%,
            transparent 72%,
            transparent 89%,
            rgba(255, 255, 255, 0.05) 90%,
            rgba(255, 255, 255, 0.05) 91%,
            transparent 92%,
            transparent
          );
        background-size: 50px 50px;
      }
    }
  }

  &__node {
    &--block {
      border: solid 3px #283c69;
      border-radius: 3px;
      width: 200px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      display: inline-block;
      background-color: rgba(9, 19, 54, 0.666667);
      color: #fff;
    }

    &--ports {
      &-input {
        width: 100%;
        display: flex;
        flex-direction: column;

        .bi-diagram-port {
          margin-top: 5px;
          width: 15px;
          height: 15px;
          cursor: pointer;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
          background-color: rgb(100, 214, 193);

          &:first-child {
            margin-top: 15px;
          }
        }
      }

      &-output {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        & .bi-diagram-port {
          margin-top: 5px;
          width: 15px;
          height: 15px;
          cursor: pointer;
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          background-color: rgb(100, 214, 193);
        }
      }
    }

    &--close {
      position: absolute;
      top: 3px;
      left: 0;
      padding: 0;
      margin: 5px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      background: transparent;
    }

    &--edit {
      position: absolute;
      top: 5px;
      right: 0;
      display: flex;
      justify-content: flex-end;

      &-btn {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background: transparent;
      }
    }

    &--header {
      padding: 5px;
      background: #2d4571aa;
    }

    &--content {
      text-align: center;
    }

    &--section {
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid rgb(211, 217, 228);
    }
  }

  &__editor {
    &--block {
      position: relative;
      height: 100%;
      padding: 20px;
      width: 400px;
    }
  }

  &--btn {
    &-section {
      padding-top: 20px;

      & button:last-child {
        margin-left: 16px;
      }
    }

    &-primary {
      padding: 5px 10px;
      color: #fff;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid green;
      background-color: green;
    }

    &-secondary {
      padding: 5px 10px;
      color: #000;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid #000;
      background-color: transparent;
    }
  }

  &__workflow {
    display: flex;
    margin-top: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    &--tab {
      padding: 5px;
      border-top: solid 1px #a2a7b2;
      border-right: solid 1px #a2a7b2;
      border-left: solid 1px #a2a7b2;
      background-color: #455aa2b3;
      color: white;
      margin-right: 1px;
      min-width: 80px;
      text-align: center;
      cursor: pointer;

      &.active {
        background-color: #455aa2;
        z-index: 1;
      }
    }
  }

  &__action-bar {
    position: absolute;
    padding: 20px;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
