@import "./variables.scss";

$breakpoints: (
  "mobile-portrait-max": (
    max-width: $screen-mobile-landscape - 1px,
  ),
  "mobile-landscape": (
    min-width: $screen-mobile-landscape,
  ),
  "mobile-landscape-max": (
    max-width: $screen-tablet-portrait - 1px,
  ),
  "tablet-portrait": (
    min-width: $screen-tablet-portrait,
  ),
  "tablet-portrait-max": (
    max-width: $screen-tablet-landscape - 1px,
  ),
  "tablet-landscape": (
    min-width: $screen-tablet-landscape,
  ),
  "tablet-landscape-max": (
    max-width: $screen-desktop-small - 1px,
  ),
  "desktop-small": (
    min-width: $screen-desktop-small,
  ),
  "desktop-medium": (
    min-width: $screen-desktop-medium,
  ),
  "desktop-large": (
    min-width: $screen-desktop-large,
  ),
);

@mixin media($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "The specified breakpoint `#{$breakpoint}` does not exits. Available breakpoints are #{map-keys($breakpoints)}";
  }
}
