/* spacing */
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 32px;
$spacing-xxlarge: 40px;
$spacing-xxxlarge: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
$spacing-9: 80px;
$spacing-10: 100px;
$spacing-11: 150px;
$spacing-12: 200px;
$spacing-13: 500px;

/* breakpoints */
$screen-mobile-landscape: 576px;
$screen-tablet-portrait: 768px;
$screen-tablet-landscape: 992;
$screen-desktop-small: 1200;
$screen-desktop-medium: 1440;
$screen-desktop-large: 1920;

/* color */
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #828282;
$color-primary: #a000fe;

/* font size */
$font-size-small: 12px;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 20px;
$font-size-xxlarge: 24px;
$font-size-xxxlarge: 28px;
$font-size-7: 32px;
$font-size-8: 40px;
$font-size-9: 50px;

/* font weight */
$font-weight-normal: 400;
$font-weight-bold: 700;
